<section class="bg-white dark:bg-gray-900">
	<div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
		<form th:action="@{/add}" th:method="post" th:object="${contact}">

			<!-- csrf token -->
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

			<div th:if="${sqlException != null or exception != null}"
				class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
				role="alert">
				<svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
					fill="currentColor" viewBox="0 0 20 20">
					<path
						d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
				</svg>
				<span class="sr-only">Info</span>
				<div>
					<span th:if="${sqlException}" class="font-medium">Error: number already exists.</span>
					<span th:if="${exception}" class="font-medium">Error: a unexpected error occurred.</span>
				</div>
			</div>

			<div th:if="${#fields.hasAnyErrors()}"
				class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
				role="alert">
				<svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
					fill="currentColor" viewBox="0 0 20 20">
					<path
						d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
				</svg>
				<span class="sr-only">Danger</span>
				<div>
					<span class="font-medium">Ensure that these requirements are met:</span>
					<ul class="mt-1.5 list-disc list-inside">
						<li th:each="err : ${#fields.allErrors()}" th:text=${err}></li>
					</ul>
				</div>
			</div>

			<div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
				<div class="sm:col-span-2">
					<label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
						Name</label>
					<input type="text" name="name" id="name" th:field="*{name}"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
						placeholder="Contact name">

				</div>
				<div class="w-full">
					<label for="phoneNo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone
						number</label>
					<input type="text" name="phoneNo" id="phoneNo" th:field="*{phoneNo}"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
						placeholder="Phone number">
				</div>
				<div class="w-full">
					<label for="email"
						class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">E-mail</label>
					<input type="text" name="email" id="email" th:field="*{email}"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
						placeholder="user@example.com">
				</div>
				<div class="sm:col-span-2">
					<label for="date-of-birth" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date
						of Birth</label>
					<input type="date" name="date-of-birth" id="date-of-birth" th:field="*{dateOfBirth}"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
						placeholder="Date of birth">
				</div>
			</div>
			<button type="submit"
				class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800 cursor-pointer">
				Add contact
			</button>
		</form>
	</div>
</section>
