<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Contacts</title>
	<link th:href="@{/css/output.css}" rel="stylesheet">
	<script th:src="@{/js/header.js}" defer></script>
</head>

<body class="bg-white dark:bg-gray-900">

	<div th:replace="~{fragments/header :: nav}"></div>

	<div th:replace="~{contact-view/top :: div}"></div>

	<div th:replace="~{delete/form :: section}"></div>

	<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>
